*{margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.h1{
    color: darkcyan;
}

body {
    background: #f5f5f5;
}

.pricing-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 150px 20px;
}

.card {
    background:gainsboro;
    width: 270px;
    padding: 25px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
}

.card h3 {
    margin-bottom: 15px;
}

.card h1 {
    font-size: 32px;
    margin-bottom: 15px;
}

.card h1 span {
    font-size: 20px;
    color: #0f0e0e;
}

.card ul {
    list-style: none;
    text-align: left;
    margin: 20x 0;
}

.card ul li {
    margin: 8px 0;
    font-size: 16px;
}

.not {
    color: red;
}
.yes{
    color: green;
}

button {
    margin-top: 15px;
    background: #ff3b3b;
    color: #fff;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #f90707;
}
